<section class="h-screen flex-col w-90vw mx-auto relative overflow-hidden">
  <div class="h-1/2 bg-teal-400 flex flex-col justify-start rounded-3xl">
    <!-- <img src="assets/cupcake.png" alt="" class="h-10 w-10 mb-2 mt-2 mx-auto" /> -->
    <h2
      class="text-2xl text-teal-50 tracking-wide text-center poppins-font mb-4 underline underline-offset-4 mt-2"
    >
      Our Story
    </h2>
    <div class="">
      <p
        class="text-teal-600 bg-white poppins-font text-center z-10 md:mx-auto md:w-1/2 md:p-4 md:rounded-3xl"
      >
        <span class="text-2xl text-pink-400">M</span>oe has loved baking for her
        loved ones since she was a child. She continues to share her tasty
        treats with her friends and family, but also with Ishikawa residents!
      </p>
      <p
        class="text-teal-600 bg-white poppins-font mt-4 text-center z-10 md:w-1/2 md:mx-auto md:p-4 md:rounded-3xl md:border-b-2 md:border-teal-400"
      >
        <span class="text-2xl text-cyan-600">J</span>uan likes to work hard and
        learn new skills which is why running a cafe is so rewarding. He makes
        sure to grow as a person on a daily basis.
      </p>
      <p
        class="text-teal-600 bg-white poppins-font mt-4 text-center z-10 md:w-1/2 md:mx-auto md:p-4 md:rounded-3xl md:border-b-2 md:border-teal-400"
      >
        <span class="text-2xl text-orange-400">M</span>oko is the king of the
        house. He is our precious son.
      </p>
    </div>
  </div>
  <div class="flex-grow h-1/2 bg-white">
    <div
      class="absolute bottom-0 -right-12 h-2/3 md:h-2/3 lg:h-2/3 xl:h-full md:-right-10 lg:left-2/3"
    >
      <img
        src="assets/story-photos/moe-standing.png"
        alt=""
        class="w-full h-full object-cover"
      />
    </div>
    <div
      class="absolute right-28 md:left-20 md:h-max md:w-64 lg:h-max lg:w-72 lg:left-40 bottom-0 h-72 xl:h-max xl:w-72 xl:left-60 z-50"
    >
      <img
        src="assets/story-photos/moko-sitting.png"
        alt=""
        class="w-full h-full object-cover"
      />
    </div>
    <div
      class="absolute md:-bottom-40 md:right-52 lg:-bottom-40 xl:-bottom-64 lg:right-36 xl:right-72 h-max w-2/5 xl:w-1/3 hidden md:block"
    >
      <img
        src="assets/story-photos/family.png"
        alt=""
        class="w-full h-full object-cover"
      />
    </div>
    <div class="absolute -left-16 bottom-0 h-2/3 xl:h-full">
      <img
        src="assets/story-photos/juan-standing.png"
        alt=""
        class="w-full h-full object-cover"
      />
    </div>
  </div>
</section>
