<section
  class="h-screen md:flex md:flex-row-reverse md:justify-center md:w-90vw md:mx-auto"
>
  <div class="">
    <img
      src="assets/hero-photos/Cafe-Hero-Main.jpg"
      alt="cafe logo"
      class="h-full w-full object-cover"
    />
  </div>
  <div class="flex flex-col text-center justify-center text-gray-900">
    <h2 class="text-4xl md:text-6xl grid items-end poppins-font">Cafe</h2>
    <h2 class="text-6xl md:text-8xl poppins-font">Triangle</h2>
    <div class="text-4xl mt-8 poppins-font">
      Don't forget to
      <div id="flip">
        <div class="pt-1">
          <div class="bg-emerald-500 px-4 rounded-xl ml-1 poppins-font">
            have fun
          </div>
        </div>
        <div>
          <div class="bg-pink-500 px-4 rounded-xl ml-1 poppins-font">
            eat good food
          </div>
        </div>
        <div>
          <div class="bg-purple-400 px-4 rounded-xl ml-1 poppins-font">
            enjoy your life
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
