<nav class="w-90vw mx-auto">
  <div class="h-16 w-16 mx-auto my-4">
    <img
      src="assets/png-assets/logo-only-resized.png"
      alt=""
      class="h-full w-full object-contain"
    />
  </div>
  <ul
    class="flex justify-evenly gradient-border py-1 text-white text-xs md:text-sm hover:cursor-pointer text-center"
  >
    <li class="border border-white px-2 rounded-full">
      <a href="#about" class="scroll-smoothy">Story</a>
    </li>
    <li class="border border-white px-2 rounded-full">
      <a href="#menu" class="scroll-smooth">Menu</a>
    </li>
    <li class="border border-white px-2 rounded-full">
      <a href="#hero">Home</a>
    </li>
    <li class="border border-white px-2 rounded-full">
      <a href="#gallery" class="scroll-smooth">Gallery</a>
    </li>
    <li class="border border-white px-2 rounded-full">
      <a href="#info" class="scroll-smooth">Info</a>
    </li>
  </ul>

  <div
    class="text-center space-x-8 my-4 text-sm text-gray-600 hover:cursor-pointer"
  >
    <a href="https://www.facebook.com/CafeTriangle1/"
      ><i class="fab fa-facebook-square transform hover:scale-110"></i
    ></a>
    <a href="https://www.instagram.com/cafetriangle1/?hl=en"
      ><i class="fab fa-instagram transform hover:scale-110"></i
    ></a>
    <a href="mailto:cafetriangle1@gmail.com"
      ><i class="fas fa-envelope transform hover:scale-110"></i
    ></a>
    <a href="tel:+81076-259-5626">
      <i class="fas fa-phone transform hover:scale-110"></i>
    </a>
  </div>
</nav>
