<section class="w-90vw mx-auto flex flex-col mt-8 h-min mb-16">
  <h2
    class="w-1\2 mx-auto text-2xl border-b-2 my-4 border-indigo-400 poppins-font tracking-widest text-gray-800"
  >
    <a routerLink="gallery">Our Gallery</a>
  </h2>
  <div class="">
    <img
      src="assets/gallery/higaki-moe.jpg"
      alt=""
      class="rounded-3xl md:h-96 md:object-cover md:mx-auto"
    />
    <h2
      class="poppins-font text-center border-b-2 border-orange-400 my-4 tracking-widest md:w-1/2 md:mx-auto"
    >
      A wonderful moment
    </h2>
    <p class="poppins-font text-center text-sm mb-4">
      It's always a joyous time when Higaki-san and Anko-chan come to visit us.
      Thank you!
    </p>
  </div>
  <article class="grid grid-cols-2 gap-2 md:grid-cols-4 md:w-2/3 md:mx-auto">
    <div class="">
      <img src="assets/gallery/moko-cup.jpg" alt="" class="rounded-3xl" />
    </div>
    <div class="">
      <img src="assets/gallery/cookie-eyes.jpg" alt="" class="rounded-3xl" />
    </div>
    <div class="">
      <img
        src="assets/gallery/family-together.jpg"
        alt=""
        class="rounded-3xl"
      />
    </div>
    <div class="">
      <img src="assets/gallery/anko-counter.jpg" alt="" class="rounded-3xl" />
    </div>
  </article>
  <h2
    class="poppins-font border-b-2 border-indigo-400 tracking-widest text-center my-4 md:w-1/2 md:mx-auto"
  >
    The little moments of life in color!
  </h2>
  <p class="poppins-font text-center text-sm mb-4">
    Life is about making wondeful memories with your family, your friends, your
    pets, or yourself. Go out and have a cookie!
  </p>
  <button
    class="poppins-font border-2 border-orange-400 w-max mx-auto text-gray-800 mt-2 p-4 rounded-3xl text-sm transform hover:scale-110"
  >
    <a routerLink="gallery">See More</a>
  </button>
</section>
