<section class="w-90vw mx-auto my-16 h-max">
  <h2
    class="text-2xl poppins-font text-gray-700 underline underline-offset-8 w-max px-6 text-center mx-auto mb-8"
  >
    <a routerLink="full_menu">Our Menu</a>
  </h2>
  <a routerLink="full_menu">
    <ul
      class="grid grid-cols-2 gap-4 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-5"
    >
      <li class="col-span-1 lg:col-span-1">
        <a href="">
          <figure class="relative md:h-full">
            <img
              src="assets/food/burrito.jpg"
              alt="Volcano and lava field against a stormy sky"
              class="h-full w-full object-cover rounded-3xl"
            />
            <figcaption
              class="absolute inset-0 flex items-center justify-center text-center opacity-0 transition-opacity hover:opacity-100 bg-gray-900 bg-opacity-50 text-gray-50 text-2xl poppins-font rounded-3xl"
            >
              Burrito
            </figcaption>
          </figure>
        </a>
      </li>
      <li class="col-span-1 md:col-span-2 lg:col-span-1 h-full">
        <a href="">
          <figure class="relative h-full">
            <img
              src="assets/food/cheesecake.jpg"
              alt="Guy on a bike ok a wooden bridge with a forest backdrop"
              class="h-full w-full object-cover rounded-3xl"
            />
            <figcaption
              class="absolute text-2xl inset-0 flex items-center rounded-3xl justify-center text-center opacity-0 transition-opacity hover:opacity-100 bg-gray-900 bg-opacity-50 text-gray-50 poppins-font"
            >
              New York Cheesecake
            </figcaption>
          </figure>
        </a>
      </li>
      <li class="col-span-2 md:col-span-3 lg:col-span-1">
        <a href="">
          <figure class="relative lg:h-full">
            <img
              src="assets/food/flan-niceshot.jpg"
              alt="Person standing alone in a misty forest"
              class="w-full h-full object-cover rounded-3xl"
            />
            <figcaption
              class="absolute inset-0 flex rounded-3xl items-center justify-center text-center opacity-0 transition-opacity hover:opacity-100 bg-gray-900 bg-opacity-50 text-gray-50 text-2xl poppins-font"
            >
              Flan (pudding)
            </figcaption>
          </figure>
        </a>
      </li>
      <li class="col-span-1 md:col-span-2 lg:col-span-1">
        <a href="">
          <figure class="relative h-full">
            <img
              src="assets/food/matcha-crumble.jpg"
              alt="Person hiking on a trail through mountains while taking a photo with phone"
              class="h-full w-full object-cover rounded-3xl"
            />
            <figcaption
              class="absolute inset-0 flex items-center rounded-3xl justify-center text-center opacity-0 transition-opacity hover:opacity-100 bg-gray-900 bg-opacity-50 text-gray-50 text-2xl poppins-font"
            >
              Matcha Crumble Cake
            </figcaption>
          </figure>
        </a>
      </li>
      <li
        class="col-span-1 lg:col-span-4 lg:h-96 xl:h-full xl:col-span-1 h-full"
      >
        <a href="">
          <figure class="relative md:h-full xl:h-full">
            <img
              src="assets/food/lemon-poundcake.jpg"
              alt="Street scene with person walking and others on motorbikes, all wearing masks"
              class="w-full h-full object-cover rounded-3xl"
            />
            <figcaption
              class="absolute inset-0 flex items-center rounded-3xl justify-center text-center opacity-0 transition-opacity hover:opacity-100 bg-gray-900 bg-opacity-50 text-gray-50 text-2xl poppins-font"
            >
              Lemon Poundcake
            </figcaption>
          </figure>
        </a>
      </li>
    </ul></a
  >
  <div class="w-max mx-auto mt-4">
    <button
      class="poppins-font border-2 border-emerald-400 w-max text-gray-800 mt-2 p-4 rounded-3xl text-sm transform hover:scale-110"
    >
      <a routerLink="full_menu">See More</a>
    </button>
  </div>
</section>
